.site-header {
	background-color: #F0F0C9;
	padding: 1rem;
}

.site-header nav {
	display: flex;
	background-color: #fcfcdb;
	padding: .5rem;
	align-items: center;
	align-self: flex-end;
}

.site-header nav ul {
	margin: 0;
	padding: 0;
}

.site-header nav li {
	display: inline;
	margin-left: .75rem;
} 

.site-header a {
	color: #087F8C;
	text-decoration: none;
}
